.listgame-container {
  width: 100vw;
  z-index: 2;
  position: relative;

  .listgame-wrapper {
    width: 80vw;
  }
  .listgame-items {
    .game-item-wraper {
      display: flex;
      flex-direction: row;
      gap: 30px;
      .game-item {
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
}
.listgame-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.style-title {
  color: #f8fdff;
  font-weight: bold;
}

.game-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

@keyframes glow {
  0% {
    border-image-source: linear-gradient(90deg, #ff00cc, #3333ff);
  }
  50% {
    border-image-source: linear-gradient(90deg, #3333ff, #ff00cc);
  }
  100% {
    border-image-source: linear-gradient(90deg, #ff00cc, #3333ff);
  }
}

.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
}

.bullhorn {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: #2e2e2e;
}

.email-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
.email-modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.close-btn {
  background: #ccc;
  color: black;
}

@media (max-width: 768px) {
  .listgame-container {
    width: 100vw;
    .listgame-wrapper {
      width: 90vw;
    }
  }
  marquee {
    font-size: 15px;
  }

  .listgame-items {
    width: 90vw;
    display: flex;
    justify-content: center;
    .game-item-wraper {
      display: grid !important;
      grid-template-columns: repeat(2, 2fr);
    }
  }
}
